@import "global.css";

#content {
	width: 1600px;
	max-width: 100%;
}

#search-bar {
	padding: 0;
	gap: 0;

	label { display: flex; align-items: center; }
	label, input, select { border: none; }

	> :first-child label { border-radius: var(--round) var(--round) 0 var(--round); }

	> [type="submit"] {
		margin: 0;
		padding: 0 1em;
		font-size: 16pt;
	}
}

#eoi-listing {
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	gap: var(--spacing);
}

details.eoi-entry {
	flex-grow: 1;
	width: unset;
	height: unset;

	min-width: 200px;
	&:not([open]) { max-width: 300px; }

	summary {
		position: unset;
		gap: var(--spacing);
	}

	p {
		text-align: right;
		display: flex;
		font-weight: 600;
	}
	p::before { flex: 1; margin-right: 5px; }
	p::after { margin-left: 5px; }
	p::before, p::after {
		text-align: left;
		font-weight: 400;
	}
}

.eoi-salary::before { content: "Desired Salary:"; }
.eoi-salary::after { content: " / years"; }

.applicant-dob::before { content: "Date of Birth:"; }
.applicant-gender::before { content: "Gender:"; }
.applicant-address::before { content: "Address:"; }
.applicant-phone::before { content: "Phone:"; }
.applicant-background::before { content: "Can Background Check:"; }
.applicant-convict::before { content: "Is Convict:"; }
.applicant-veteran::before { content: "Is Veteran:"; }

.job-name::before { content: "Name:"; }
.job-company::before { content: "Company:"; }
.job-location::before { content: "Location:"; }
